.film-background {
  height: 50rem !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  background-image: url(Assets/Kamera-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.subtittle {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #d2d2d4;
  font-weight: 600;
}

.tile.is-ancestor {
  padding: 2rem;
}

.orange {
  background-color: #d2973e !important;
}
