.dev-background {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background-image: url(Assets/Laptop1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tittle {
  font-family: "Inter", sans-serif;
  padding-bottom: 5rem;
  font-size: 4.5rem;
  color: white;
  font-weight: 600;
}

.coming-soon {
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #d2d2d4;
  font-weight: 600;
}

button.back {
  background-color: #d2973e !important;
}
