.design-background {
  height: 50rem !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  background-image: url(Assets/Design-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.design-title-box {
  align-self: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 80%;
}

.design-box {
  align-self: center;
  margin-bottom: 3rem;
  width: 80%;
}
