.inlineNotification-wrapper {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 50px;
}

.title-wrapper {
  margin: 82px 0 35px 32px;
}

.main-wrapper {
  display: flex;
  border-top: 1px solid #a8a8a8;
}

.inlineNotification-wrapper {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 50px;
}
.test {
  color: Red;
}
.whole-page {
  min-height: calc(100vh - 94px);
  height: 100%;
  background-color: #dde1e6;
}
