.leftMenu {
  font-family: "Inter", sans-serif;
  width: 34rem;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem !important;
}

.top {
  display: flex;
  flex-direction: row;
  background-color: #d2d2d4;
}

.rightMenu-top {
  height: 30.7rem !important;
  width: 100% !important;
  border-radius: 20px;
  margin-right: 3rem !important;
  display: flex !important;
  justify-content: space-between !important;
}

.rightMenu {
  width: 100%;
  border-radius: 20px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.bg {
  background: url("Assets/Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
}

.projects {
  font-family: "Inter", sans-serif;
  width: 100%;
  border-radius: 20px;
  margin-right: 2rem;
  margin-top: 2rem;
}

.profile-img {
  margin-top: 15px;
  height: 500px;
  margin-right: 10rem;
  margin-left: 5rem;
}

.name-title {
  font-size: 4.5rem;
  color: #2b2b2b;
  font-weight: 600;
}

.job-title {
  font-size: 4.5rem;
  color: #d2973e;
  font-weight: 600;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #2b2b2b;
  margin-bottom: 3rem;
}

.job-description {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #767676;
}

.text {
  font-family: "Inter", sans-serif;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-bg {
  border-radius: 20px;
  background-color: white;
}

.projects-title {
  text-align: center;
  font-size: 3.5rem;
  color: #2b2b2b;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.projects-description {
  text-align: center;
  font-size: 1.5rem;
  color: #767676;
  text-wrap: balance;
  margin-bottom: 2rem;
}
.projects-buttons {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
  border-radius: 10px !important;
  height: 30rem !important;
  color: white !important;
  font-size: 2rem !important;
}

.projects-link-dev {
  width: 33%;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.projects-button-dev {
  background: url("Assets/Development-1.jpg") !important;
}

.projects-button-des {
  background: url("Assets/Design-2.jpeg") !important;
  background-size: 500px 600px !important;
  background-repeat: no-repeat !important;
}

.projects-link-des {
  width: 33%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.projects-link-des:hover {
  transform: translateY(8) !important;
}

.projects-button-vid {
  background: url("Assets/Videography.jpg") !important;
}

.projects-link-vid {
  width: 33%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.button-title {
  margin-top: 10.5rem;
  display: flex;
  align-self: center;
}

.learn-more-div {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row !important;
  text-align: center !important;
  transition: all 0.5s ease;
}

.learn-more-div:hover {
  transform: translateX(8px);
}

.learn-more {
  font-size: 1.3rem;
}

.box.information {
  color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  background-color: #d2973e;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.age {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infos {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.adress {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Language-title {
  width: 80%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #2b2b2b;
}

.language {
  color: #767676;
  font-size: 1.1rem;
}

.percent {
  color: #767676;
  font-size: 1.1rem;
}

progress {
  width: 80% !important;
  height: 8px !important;
}

.attribute-percent {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.leftMenu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.center-items {
  display: flex;
  justify-content: center;
  margin-bottom: 0rem !important;
}

.name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cv-link {
  height: 3rem;
  border-radius: 7px !important;
  width: 80% !important;
  background-color: #d2973e !important;
  color: white !important;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease;
}

.cv-link:active {
  transform: scale(0.96);
}

.education {
  width: 75%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
}

.edu-background {
  background-color: #f0f3f5;
}

.box.letzte {
  margin-bottom: 3rem;
}

.work-background {
  background-color: #d2d2d4;
}

.work {
  width: 75%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
}

.education-title {
  text-align: center;
  font-size: 3.5rem;
  color: #2b2b2b;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.education-description {
  width: 60%;
  margin: 0px auto;
  margin-bottom: 4rem !important;
  text-align: center;
  font-size: 1.5rem;
  color: #767676;
  margin-bottom: 1rem;
}

.box {
  border-radius: 15px !important;
  display: flex !important;
}

.edu-title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #2b2b2b;
}

.edu-section {
  margin-left: 2rem;
}

.graduation {
  margin-right: 3rem;
}

.graduation-title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #2b2b2b;
}

.time-span {
  text-wrap: nowrap;
  margin-left: 3rem;
  color: white;
  background-color: #d2973e;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 4px;
}
.education-role {
  text-wrap: nowrap;
  font-size: 1.3rem;
}

.graduation-description {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: #767676;
}

.linie-vertikal {
  border-left: solid #f5f5f5;
  border-radius: 10px;
  height: 100%;
  left: 50%;
  margin-left: 3rem;
  margin-right: 5rem;
}
.linie-vertikal-bm {
  border-left: solid #f5f5f5;
  border-radius: 10px;
  height: 100%;
  left: 50%;
  margin-left: 7rem;
  margin-right: 5rem;
}

.linie-vertikal-tbz {
  border-left: solid #f5f5f5;
  border-radius: 10px;
  height: 100%;
  left: 50%;
  margin-left: 6rem;
  margin-right: 5rem;
}

.contact {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
}

.send-button {
  border-radius: 7px !important;
  text-align: start !important;
  background-color: #d2973e !important;
  color: white !important;
  padding-left: 2rem !important;
  padding-right: 1.5rem !important;
}

button.submit {
  transition: all 0.2s ease;
}
.bcol-orange {
  background-color: #d2973e !important;
}
.button.submit:active {
  transform: scale(0.96);
}

.box.contacts {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contact-background {
  background-color: #f0f3f5;
}

.mailbox {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 500px;
  height: 600px;
}

.stepss-marker {
  background-color: #d2973e !important;
  margin-right: 2rem;
}

.stepss-content {
  color: #d2973e !important;
  margin-left: 3rem !important;
  margin-bottom: 2rem;
}

.stepss {
  color: #d2973e !important;
}
.stepss-segment {
  color: #d2973e !important;
}
